@import "./variables.scss";

$paper-padding-horizontal: 40px;
$paper-margin-horizontal: 40px;

$paper-width: ($gridsize-xl - ($paper-margin-horizontal * 3 + $paper-padding-horizontal * 4)) / 2;

.paper {
  display: flex;
  flex-direction: column;
  padding: 32px 40px;
  width: $paper-width;

  border-radius: 8px;
  background-color: $color-accent-contrast;
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25),
    14px 14px 20px rgba(5, 6, 114, 0.2);

  &__header {
    color: $color-base-strong;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 24px;
  }

  &__content {
    flex: 1;

    display: flex;
    flex-direction: column;
  }

  @media (min-width: $gridsize-xl) {
    margin: 40px;

    &:first-child {
      margin-right: 20px;
    }

    &:not(:first-child) {
      margin-left: 20px;
    }

    &:only-child {
      margin: 40px;
    }
  }

  @media (max-width: $gridsize-xl) {
    margin: 24px;
  }

  @media (max-width: $gridsize-sm) {
    $paper-padding-horizontal-sm: 32px;
    $paper-margin-horizontal-sm: 8px;

    padding: 24px $paper-padding-horizontal-sm;
    margin: $paper-margin-horizontal-sm;
    width: calc(100vw - (#{$paper-margin-horizontal-sm} * 2 + #{$paper-padding-horizontal-sm} * 2));
  }
}

.icon {
  width: 16px;
  height: 16px;
}

.input {
  display: flex;
  align-items: center;

  padding: 12px 16px;

  background-color: $color-secondary-lighter;

  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: $color-secondary-light-x2;

  input {
    flex: 1;

    padding: 0;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;

    background-color: transparent;

    color: $color-secondary;

    &:focus {
      outline: none;
    }
  }
}
