$color-accent: #373AF5;
$color-accent-contrast: #FFFFFF;

$color-base-strong: #2C2D76;
$color-base-strong-contrast: #FFFFFF;

$color-secondary: #8083A4;
$color-secondary-contrast: #FFFFFF;

$color-secondary-light: #8083A440;
$color-secondary-light-contrast: #FFFFFF;
$color-secondary-light-x2: #8083A420;
$color-secondary-light-x2-contrast: $color-base-strong;
$color-secondary-lighter: #8083A406;
$color-secondary-lighter-contrast: $color-base-strong;

$default-transition: all 0.3s ease 0s;

$gridsize-xl: 1200px;
$gridsize-md: 768px;
$gridsize-sm: 576px;

$card-box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);

:root {
  // These are important in runtime, therefore we use css variables instead of sass ones
  --paper-padding-horizontal: 40px;
  --paper-margin-horizontal: 40px;

  @media (max-width: 576px) {
    --paper-padding-horizontal: 32px;
    --paper-margin-horizontal: 8px;
  }
}