$color-accent: #373AF5;
$color-accent-contrast: #FFFFFF;

$color-base-strong: #2C2D76;
$color-base-strong-contrast: #FFFFFF;

$color-secondary: #8083A4;
$color-secondary-contrast: #FFFFFF;

$color-secondary-light: #8083A440;
$color-secondary-light-contrast: #FFFFFF;
$color-secondary-light-x2: #8083A420;
$color-secondary-light-x2-contrast: $color-base-strong;
$color-secondary-lighter: #8083A406;
$color-secondary-lighter-contrast: $color-base-strong;

$default-transition: all 0.3s ease 0s;

$gridsize-xl: 1200px;
$gridsize-lg: 992px;
$gridsize-md: 768px;
$gridsize-sm: 576px;