@import "src/styles/variables";

.header {
  display: flex;
  justify-content: center;

  padding: 64px 0 24px;

  font-weight: bold;
  color: $color-accent-contrast;

  &__container {
    width: 792px;
  }

  .header-text {
    &__left {
      display: block;
      text-align: left;
    }

    &__right {
      display: block;
      text-align: right;
    }
  }

  @media (max-width: $gridsize-xl) {
    padding: 48px 0 16px;

    &__container {
      width: 732px;
    }
  }

  @media (max-width: $gridsize-xl) {
    padding: 32px 0 12px;

    &__container {
      width: 488px;
    }
  }

  @media (max-width: $gridsize-sm) {
    padding: 24px 0 8px;

    &__container {
      width: 244px;
    }
  }
}
