@import "src/styles/variables";

.header {
  display: flex;
  justify-content: center;

  padding: 65px 0 0;

  font-weight: bold;
  color: $color-accent-contrast;

  &__container {
    width: 766px;
  }

  .header-text {
    &__left {
      display: block;
      text-align: left;
    }

    &__right {
      display: block;
      text-align: right;
    }
  }
}
