@import "src/styles/variables";

.main {
  flex-grow: 1;

  display: flex;
  justify-content: center;

  &__container {
    width: $gridsize-xl;
    display: flex;

    @media (max-width: $gridsize-xl) {
      width: $gridsize-xl;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: $gridsize-sm) {
      width: $gridsize-sm;
    }
  }
}
