@import "src/styles/variables";

.past-date-forecast {
  flex: 1;

  &__image {
    align-self: center;
  }

  &__inputs-container {
    display: flex;
  }
}

@media (min-width: $gridsize-sm) {
  .past-date-forecast__inputs-container {
    margin-bottom: 24px;

    > :not(:last-child) {
      margin-right: 4px;
    }

    > :not(:first-child) {
      margin-left: 4px;
    }
  }
}

@media (max-width: $gridsize-sm) {
  .past-date-forecast__inputs-container {
    flex-direction: column;

    > .select {
      margin-bottom: 8px;
    }

    > .datepicker {
      margin-bottom: 16px;
    }
  }
}
