@import "src/styles/variables";

.week-forecast {
  flex: 1;
  // remove bottom padding according to bottom margin of each card provided to keep the box-shadow from clipping
  padding-bottom: 0;

  .forecast-placeholder {
    // add bottom margin according to removed padding
    margin: 0 0 32px;
  }

  &__select-container {
    display: flex;
    margin-bottom: 24px;

    @media (max-width: $gridsize-sm) {
      margin-bottom: 16px;
    }
  }
}
