@import 'src/styles/variables';

.week-forecast {
  flex: 1;

  &__select-container {
    display: flex;
    margin-bottom: 24px;
  }
}

@media (max-width: $gridsize-sm) {
  .week-forecast__select-container {
    margin-bottom: 16px;
  }
}