@import "src/styles/variables";

.datepicker {
  $self: &;

  &__input-container {
    cursor: pointer;
    transition: $default-transition;

    input {
      cursor: pointer;

      &::-webkit-calendar-picker-indicator {
        cursor: pointer;
        background-image: url(../assets/icons/16/calendar.png);
      }
    }

    .icon {
      transition: $default-transition;
    }
  }

  &--focused #{$self}__input-container {
    border-color: $color-accent;
  }

  &--error #{$self}__input-container {
    border-color: $color-danger;
  }
}
