@import "src/styles/variables";

.forecast-placeholder {
  flex: 1;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__image {
    align-self: center;
  }

  @media (min-width: $gridsize-sm) {
    padding-top: 16px;
  }
}
