@import "src/styles/variables";

.weather-carousel {
  position: relative;
  display: flex;
  align-items: center;

  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  &__list {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: $gridsize-sm) {
      > :first-child {
        margin-left: 32px;
      }

      > :last-child {
        margin-right: 32px;
      }
    }
  }

  &__button {
    position: absolute;
    opacity: 0.7;

    &--left {
      left: -32px;
    }

    &--right {
      right: -32px;
    }

    &:hover {
      opacity: 1;
    }

    @media (max-width: $gridsize-sm) {
      display: none;
    }
  }

  @media (max-width: $gridsize-sm) {
    // negative horizontal margin to ignore parent paddings around
    margin: 0 calc(var(--paper-padding-horizontal) * (-1));

    &__list {
      > :first-child {
        margin-left: var(--paper-padding-horizontal);
      }

      > :last-child {
        margin-right: var(--paper-padding-horizontal);
      }

      .weather-card {
        scroll-snap-align: center;
        // positive bottom margin to keep the box-shadow from clipping
        margin-bottom: var(--paper-padding-horizontal);
      }
    }
  }
}
