@import "styles/variables";

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: $color-accent;
  background-image: url(assets/background/left-bottom.png), url(assets/background/top-right.png);
  background-position: left bottom, top right;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}